$theme-color: #200b2a;

.portfolio-p-header {
  height: 300px;
  padding: 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./img/main_background.jpg");
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: brightness(0.6);
  }

  .portfolio-p-header-title {
    max-width: 1300px;
    width: 100%;
  }

  h2,
  h4 {
    padding-top: 150px;
    color: #ffffff;
    text-shadow: 1px 1px 5px #000000;
    text-align: right;
  }

  h4 {
    padding-top: 5px;
  }
}

.main {
  padding: 0;
  .main-container {
    max-width: none;
    background-color: #000;
    padding: 50px 0;

    .video-line {
      overflow: hidden;
      height: 50px;
      display: flex;
      align-items: center;
    }

    .video-container,
    .video-description {
      padding: 10px;
      position: relative;

      .video-wrap {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        height: 563px;
      }

      .previous-btn,
      .next-btn {
        position: absolute;
        top: 50%;
        font-size: 20px;
        color: white;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: 0.3s ease-in-out all;
        cursor: pointer;

        &:hover {
          background-color: #333;
        }
      }

      .previous-btn {
        left: 20px;
      }

      .next-btn {
        right: 20px;
      }
    }

    .video-description {
      padding: 30px 100px 100px;

      .video-description-wrap {
        border-radius: 10px;
        background-color: rgba(white, 0.3);
        padding: 30px;
        color: white;

        .title {
          font-size: 25px;
          font-weight: 500;
          padding-bottom: 20px;
        }

        .subtitle {
          font-size: 23px;
          padding-bottom: 20px;
        }

        .tools {
          width: fit-content;
          font-size: 14px;
          border-radius: 10px;
          padding: 5px 10px;
          background-color: #200b2a;
          color: #ffffff;
          margin-bottom: 40px;
        }
      }
    }
  }
}
.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: #fff !important;
  fill: black !important;
  stroke: black !important;
}
